<style>
  .modal-backdrop {
    z-index: -1;
  }
</style>
<div
  class="modal modal-rel fade"
  id="blacklist_id"
  tabindex="-1"
  aria-labelledby="blacklist_idlabel"
  aria-hidden="true"
  data-backdrop="false"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blacklist_idlabel">
          Blacklist By Discord Id
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group mb-20">
            <p>
              <label for="name">Discord ID:</label>
              <input
                name="name"
                type="text"
                id="discord_id"
                class="form-control"
                placeholder="Enter Discord ID here"
              />
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            class="btn btn-primary"
            onclick="asyncAlert(userInfo(document.getElementById('discord_id').value))"
            data-bs-dismiss="modal"
          >
            Get Info
          </button>
          <button
            class="btn btn-success"
            onclick="asyncAlert(blacklistUser(document.getElementById('discord_id').value))"
            data-bs-dismiss="modal"
          >
            Blacklist
          </button>
          <button
            class="btn btn-danger"
            onclick="asyncAlert(unblacklistUser(document.getElementById('discord_id').value))"
            data-bs-dismiss="modal"
          >
            Unblacklist
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
