<style>
  .modal-backdrop {
    z-index: -1;
  }
</style>
<div
  class="modal modal-rel fade"
  id="resource_id"
  tabindex="-1"
  aria-labelledby="resource_idLabel"
  aria-hidden="true"
  data-backdrop="false"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resource_idLabel">
          Resource management by discord ID
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group mb-20">
            <p>
              <label for="name">Discord ID:</label>
              <input
                name="name"
                type="text"
                id="discord_id"
                class="form-control"
                placeholder="Enter discord id here"
              />
              <label>Memory:</label>
              <input class="form-control" id="setresources_memory" />
              <label>Disk:</label>
              <input class="form-control" id="setresources_disk" />
              <label>CPU:</label>
              <input class="form-control" id="setresources_cpu" />
              <label>Servers:</label>
              <input class="form-control" id="setresources_servers" />
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            class="btn btn-success"
            onclick="asyncAlert(setResources(document.getElementById('discord_id').value, parseFloat(document.getElementById('setresources_memory').value), parseFloat(document.getElementById('setresources_disk').value), parseFloat(document.getElementById('setresources_cpu').value), parseFloat(document.getElementById('setresources_servers').value), true))"
          >
            Add
          </button>
          <button
            class="btn btn-success"
            onclick="asyncAlert(setResources(document.getElementById('discord_id').value, parseFloat(document.getElementById('setresources_memory').value), parseFloat(document.getElementById('setresources_disk').value), parseFloat(document.getElementById('setresources_cpu').value), parseFloat(document.getElementById('setresources_servers').value)))"
          >
            Set
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
